<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        header
    </div>
    <div class="middle">
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus rerum quidem, voluptatem exercitationem veniam mollitia assumenda laudantium amet corrupti voluptate libero maxime, deserunt inventore nihil cum! Facere eveniet doloribus ab.
        </div>
        <div class="manager">
            <div class="manager__title">
                welcome user 1
            </div>
            <div class="list-item">
                <div class="item">
                    item 1
                </div>
                <div class="item">
                    item 2
                </div>
                <div class="item">
                    item 3
                </div>
            </div>
            <div class="cart">
                <button>update</button>
                <button>drop all</button>
                <button>order detail</button>
                <button>checkout</button>
            </div>
        </div>
    </div>
    <div class="footer">
        footer
    </div>
</body>
</html>