@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #DD2F6E;
    --menu-background-color: #df4e4e6b;
    --menu-text-color: white;
    --menu-icon-color: rgb(228, 24, 75);
    --manager-background-color: rgba(223, 162, 162, 0.452);
    --manager-button-color: rgba(212, 65, 97, 0.596);
    --footer-icon-color: rgba(212, 132, 152, 0.774);
}

#navbar {
    position: fixed;
    background-color: var(--menu-background-color);
    padding: 10px;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar-brand {
    padding: 0 10px;
}

#navbar-brand h2 a {
    color: var(--main-color)
}

#navbar-brand a:active {
    color: rgba(226, 35, 108, 0.897)
}

#nav-menu-icon {
    height: 100%;
    display: none;
    padding: 0 4px;
    align-items: center;
    font-size: 24px;
    color: var(--menu-icon-color);
}

#navbar-menu ul {
    display: flex;
    align-items: center;
    margin: 0;
}

#navbar-menu li {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

#navbar-menu li a {
    color: var(--menu-text-color);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}

#navbar-menu a:active {
    color: var(--menu-background-color)
}

.search-wrapper {
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

#nav-short-menu {
    display: none;
    background-color: var(--menu-background-color);
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    border-top: 1px solid var(--menu-background-color);
}

#nav-short-menu ul {
    list-style: none;
    padding: 0 32px;
}

#nav-short-menu ul li {
    padding: 8px;
}

#nav-short-menu li a {
    color: var(--menu-text-color);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}

#nav-short-menu a:active {
    color: var(--menu-background-color)
}

#nav-short-menu .search-wrapper {
    width: 57%;
    font-size: 20px;
    text-align: end;
}

@media (max-width: 900px) {
    #navbar-menu {
        display: none;
    }
    #nav-menu-icon {
        display: flex;
    }
    #nav-short-menu {
        display: block;
    }
    .search-wrapper {
        display: block;
    }
}

#main-content {
    /* transition: margin-top 75ms; */
    padding: 10px 5px;
    height: 60vh;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

section {
    min-height: 3.75rem;
    width: 73%;
    padding-left: 30px;
}

#main-name h2 {
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: underline rgb(236, 73, 87);
}

.all-card {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card {
    text-align: center;
    justify-content: center;
    border-width: 2px;
    box-sizing: border-box;
    margin-right: 5px;
    padding-bottom: 5px;
}

.card-name a {
    font-weight: bolder;
    font-size: 20px;
    color: black;
}

.card-name a:hover {
    color: var(--main-color)
}

.card-description {
    font-style: italic;
    font-size: 16px;
}

#manager {
    padding: 10px;
    border: 3px solid rgba(218, 149, 149, 0.411);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--manager-background-color);
}

#manager__title {
    height: auto;
    text-align: center;
    border: 1px solid var(--manager-button-color);
    display: flex;
    justify-content: inherit;
    padding-top: 2px;
}

#welcom-name {
    text-transform: uppercase;
    font-weight: bold;
}

#manager #list-item {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

#manager #list-item .item {
    margin-top: 10px;
    flex: 1;
    background-color: rgba(218, 50, 101, 0.274);
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.cart-subtotal,
.cart-shipfee,
.cart-total {
    display: flex;
    justify-content: space-between;
}


/* #manager .cart-button {
    height: 40%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

#manager #cart-button button {
    margin-top: 10px;
    width: 49%;
    border: 1px solid var(--manager-button-color);
    background-color: var(--manager-button-color);
}

#login-title h3 {
    text-align: center;
}

#login-signup-form {
    padding: 10px;
    border: 3px solid rgba(218, 149, 149, 0.411);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--manager-background-color);
}

#login-form input {
    border-radius: 4px;
}

#login-button button {
    width: 100%;
    border: 1px solid var(--manager-button-color);
    background-color: var(--manager-button-color);
    cursor: pointer;
}

#signup-button {
    display: flex;
}

#signup-button a {
    color: #DD2F6E;
    text-decoration: none;
}

a:hover {
    color: white
}

footer {
    align-items: center;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-top: 1px solid var(--main-color);
    margin-bottom: 0;
    bottom: 0;
    background-color: var(--menu-background-color);
}

footer a,
footer a:hover {
    text-decoration: none;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
    margin: 0;
    padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    width: 40px;
    height: 40px;
    color: var(--footer-icon-color);
    background-color: #FFF;
    border: 1px solid rgba(209, 35, 78, 0.952);
    padding-top: 12px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
}

.socialbtns .fa:hover {
    color: #ffffff;
    background-color: #000;
    border: 1px solid #000;
}

button#user-logout {
    color: blue;
    border: none;
    background: transparent;
    text-decoration: underline;
    cursor: pointer;
}

button#user-logout:focus {
    outline: none;
}

@media (max-width: 719px) {
    .content {
        width: 65%;
    }
    .card {
        width: 48%;
    }
    .card-image {
        width: 100%;
    }
    #manage {
        width: 25%;
    }
    footer {
        text-align: center;
    }
    footer #social-media-footer a .fa-facebook,
    footer #social-media-footer a .fa-youtube,
    footer #social-media-footer a .fa-github {
        color: black;
        transition: 0.4s;
    }
}

@media (max-width: 600px) {
    .content {
        width: 100%;
    }
    .card {
        text-align: center;
    }
}

@media (min-width: 720px) {
    .content {
        width: 95%;
    }
    .card {
        width: 25%;
    }
    .card-image {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .content {
        width: 85%;
    }
    #manage {
        width: 25%;
    }
}

.search-bar {

    margin-top: 75px;
    /* width: calc(60%); */
    background-color: var(--manager-background-color);
}

.bottom {
    width: 50%;
}

.search-bar button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: green;
}

.search-bar #search-toggle {
    margin-left: 30px;
}


.row {
    margin-bottom: 10px;
    margin-left: 10px;

}
#advanced-search-filter {
     display:none;
     padding: 10px;
}

#advanced-search-filter input, #advanced-search-filter select {
    border-radius: 5px;
}

.show {
    display:block;
}

.search-info {
    display: flex;
    align-items: center;
    padding: 15px;
}
.input-search {
    width: 100%;
}