#coffee-details-title {
    margin-top: 20px;
    text-align: center;
}

#coffee-details-actions {
    display: flex;
    justify-content: space-between;
}

#coffee-details-info {
    padding: 10px 50px;
}

#coffee-details-info .form-group{
    font-weight: bold;
    font-size: 20px;
}

#coffee-details-info .form-group span{
    font-weight: normal;
}

.coffee-detail-image-card {
    text-align: center;
}

#coffee-details-image {
    width: 300px;
    height: 300px;
    outline: 0;
}

#coffee-details-description {
    font-weight: normal;
}